In [11]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df['class'] = iris.target
# df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df['class name'] = iris.target_names[df['class']]
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [12]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(
    iris.data, iris.target, test_size=0.2)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

# 建模并预测
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train, y_train)

0.9666666666666667

In [16]:
score = knn.score(x_test, y_test)
print(score)

0.9666666666666667

In [18]:
y_pred = knn.predict([[5.1, 3.5, 1.4, 0.2]])
print(y_pred)

[0]